html,body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'mplus-1m';
  src: url(font/mplus-1p-regular.ttf) format('truetype');
}

#app {
  position: relative;
}

.screen {
  /* border: dashed 1px #000; */
  background-image: linear-gradient(0deg, transparent 63px, rgba(255,255,255,0.3) 64px), linear-gradient(90deg,  transparent 63px, rgba(255,255,255,0.3) 64px);
  background-size: 64px 64px;
}

