<html>
  <head>
    <title>flexcard</title>
    <meta charset="utf-8"/>
    <link href="./css/style.css" rel="stylesheet"/> 
    <link href="./css/card.css" rel="stylesheet"/> 
    <!-- <link href="./theme-default.css" rel="stylesheet"/>  -->
    <link href="./css/theme-dark.css" rel="stylesheet"/>
    <link href="./favicon.ico" rel="icon"/>
  </head>
  <body ondblclick="dblClick(event)">
    <div id="app">
      <div ref="screen" class="screen" :style="{
          position: 'absolute', 
          width: `${calcScreenSize().w}px`, 
          height: `${calcScreenSize().h}px`, 
          backgroundColor: `#000`
          }"
          @mousemove="dragScroll($event)"
          @contextmenu.prevent>
        <!-- @updated="cardUpdated" -->
        <card v-for="card in cards" :key="card" :data.sync="card"
            @deleted="cardDeleted"
            @movez="movez"
            ref="card"></card>
      </div>
      <!--
      <button style="background-color:#000; color:#FFF; border:solid 1px #CCC; font-family:system;
        width:200px;">
        OPEN
      </button>
      <br/>
      -->
      <div style="position:fixed; top:5px; bottom:5px; left:5px; background-color:#000; color:#FFF; border:solid 1px #CCC; font-family:system;
        width:calc(25%); max-width:250px; overflow-x:hidden; overflow-y:auto; opacity:0.7;">
        <div v-for="card in sorted" style="font-size:0.75rem; padding:1px; cursor:pointer;" @click="scrollToCard(card)">
          {{card.text.split("\n")[0]}}
        </div>
      </div>
    </div>
  </body>
  <script src="./lib/vue.global.js"></script>
  <script src="./src/card.js"></script>
  <script src="./src/script.js"></script>
</html>
